{% extends 'base.html' %}

{% block title %}
<title>{{data.name}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Character.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="AvatarContainer"><img src="{{ url_for('static', filename=img)}}" class="avatar" alt="CharecterImage"></div>

    <div class="BIO">
        <div class="BIOtext">Имя: {{data.name}}</div>
        <div class="BIOtext">Статус: {{data.status}}</div>
        <div class="BIOtext">Вид: {{data.species}}</div>
        <div class="BIOtext">Тип: {{data.Type}}</div>
        <div class="BIOtext">Пол: {{data.gender}}</div>
    </div>
</div>
<div class="buttons container">
    <form method="post">
        <input type="submit" name="delete" id="delete" value="Удалить персонажа">
    </form>
    <form action="/Edit/{{data.id}}" target="_blank">
        <button>Редактировать</button>
    </form>
    <form action="/" target="_blank">
        <button>На главную</button>
    </form>
</div>
{% endblock %}
